# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Specs Artifacts
# ==========================
Specs/test-results

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Playwright Artifacts
# ==========================
test-results/
playwright-report/
trace/
videos/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code Workspace Settings
# (Personal preferences only)
# ==========================
.vscode/